{% load staticfiles %}
<html>
    <head>
        <title>Final Diseño</title>
        <link href="https://fonts.googleapis.com/css?family=Economica" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>
     <body class="body">
        <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
             <p class="top-menu">Hola!! {{ user.username }} <small>(<a href="{% url 'logout' %}" style="color: #ffffff; ">Salir</a>)</small></p>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}

          <h1><a href="/">Blog Alejandra Cuervo IFTS N°18 </a></h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                {% block content %}
                 {% endblock %}
                </div>
             </div>
        </div>
    </body>
</html>
   